.PostItem {
    display: flex; 
    border-bottom: 1px solid lightgray;
    padding: 12px;
}

.PostItem img {
    width: 40px;
    height: 40px;;
}

.PostItem__photo {
    justify-content: center;
    height: 30px;
    border-radius: 25px;
}

.PostItem__content{
    font-size: 0.9rem;
    padding: 0 12px;
}

.PostItem__content span:nth-child(1) {
    font-weight: bold;
}
.PostItem__content span:nth-child(2){
    color: #536471;
    font-size: 0.9rem;
}

.PostItem__content--icons{

    display: flex;
    justify-content: space-between;  
}

.PostItem__content--icons img {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

