.MenuList {
    padding: 0 30px;
    list-style: none;
}

.MenuList li {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;
}

.MenuList li:hover {
    color: #01b5f1;
}

.MenuList li img {
    height: 30px;
    width: 30px;
}